<html>
  <head>
    <title>:(</title>
  </head>
  <body>
    <h1>:(</h1>
    <h2>the page you are looking for may not exist, or your internet connection isn&#39;t working.</h2>
    <h4 id="status-code-code-">status code: {%CODE%}</h4>
    <style>
body {
   color: black;
   font-family: sans;
   background-color: #d8d8d8;
}
  </style>
  </body>
</html>

